body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

#loading {
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 2;
    color: #fff
}

.hidden {
  opacity: 0;
}

canvsa#canvas1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

